@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Workbench&display=swap');

:root {
    --outer-radius: 1.5em;
    --padding: 1em;
    --inner-radius: calc(var(--outer-radius) - var(--padding));
}

body {
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 3em;
}

@media (max-width: 1024px) {
    body {
        padding-left: 2em;
        padding-right: 2em;
    }

    .album-grid {
        justify-content: space-around;
    }
}

@media (max-width: 560px) {
    .album-grid {
        justify-content: center !important;
    }
}

p {
    font-family: "Space Mono", serif;
}


.heading-box {
    padding: 10hw;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.album-grid {
    display: flex;
    gap: 1.5em;
    justify-items: center;
    align-content: space-around;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.album {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 202px;
    height: 332px;
    border-radius: var(--outer-radius);
    border: 0.5px solid #4CFF00;
    background: #000;
    border: 1px solid #7afa4f;
    padding: var(--padding);
    text-align: center;
}

.album h3,p,a {
    margin: 0;
}

.album a {
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: var(--inner-radius);
    outline: 0.5px solid #4CFF00;
    opacity: 0.8606;
    background: #4CFF00;
    color: #000;
    text-align: center;
    font-family: Doto;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: 21px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.album a:hover {
    cursor: pointer;
    background: black;
    color: #4CFF00;
    transition: all 0.2s ease-in-out;
}

#disabled  {
    font-family: ;
    background: #0e4001;
    color: white;
    cursor: not-allowed;
}

.album h3 {
    color: white;
    text-align: center;
    font-family: Workbench, Monospaced;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 92% */
}

.album p {
    color: #FFF;
    text-align: center;
    font-family: "Space Mono", serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 260% */
}

.album img {
    width: auto;
    height: 12.5em;
    flex-shrink: 0;
    border-radius: var(--inner-radius);
    outline: 0.5px solid #6AFF00
}

h1 {
    font-family: Workbench, monospace;
    color: white;
    font-weight: normal;
    max-width: 40%;
    font-size: 3em;
}
